<header>
		<div class="has-text-centered">
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"><!--การใส่รูป"/"คือเหมือนกับว่าเราจะเริ่มต้นการตรงนี้น่ะแล้วก็พิมชื่อหน้าFolderลงมาเลื่อยๆจนถึงรูปที่เราต้องการ-->
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WOPK<!--สามารถตั้งชื่อได้ตามที่ต้องการ--></a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">WOPK</a>
			<a href="#" class="navbar-item">WOPK</a>
			<a href="#" class="navbar-item">WOPK</a>
			<a href="#" class="navbar-item">WOPK</a>
			<a href="#" class="navbar-item">WOPK</a>
		</nav><!--ถ้าต้องการให้มีแทบMenuให้ใช้nev-->
	</header>